<div class="parent">
      
        <div class="grid-container "> 
            <div class="grid-item ">
                <div class="cart-text-big position-test">
                    <h1><span class="big-text ">ABOUT</span>  <br>
                       <span class="mid-text">COLLLISION</span> 
                    </h1>
                    
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur
                         adipisicing elit. Consequuntur ipsa quam saepe laudantium debitis quae, dolores excepturi quidem voluptatibus, molestiae, tempore similique dolorem earum atque. 
                        Possimus rem accusantium 
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Maxime nemo repellendus
                         aut praesentium consectetur molestias 
                         provident asperiores eum autem nobis 
                         voluptatum debitis ut tempore dicta,
                         cumque eveniet fugit repellat eaque.
                    </p>
                    <button class="btn-cllsn">PARTICIPATE</button>
                </div>
            </div>
            <div class="grid-item">

                <div class="transparent-card ">
                    <div class="img-card">
                            <%= image_tag('Head.png')%>
                    </div>
                    <h4>simple text de of presentations</h4>
                </div>
                <div class="transparent-card">
                    <div class="img-card">
                            <%= image_tag('Head.png')%>
                    </div>
                    <h4>simple text de of presentations</h4>
                </div>
                <div class="transparent-card ">
                    <div class="img-card">
                            <%= image_tag('Head.png')%>
                    </div>
                    <h4>simple text de of presentations</h4>
                </div>
           
            </div>
          
        </div>
    </div>