<div class="container">
        <div class="parent ">
                <div class="bg-img"></div>
                <div class="grid-container "> 
                    <div class="grid-item ">
                        <div class="cart-text-big ">
                            <h1><span class="big-text ">DROP</span>  <br>
                            <span class="mid-text">CHALLENGE</span> 
                            </h1>
                            
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Consequuntur ipsa quam saepe laudantium debitis quae, dolores excepturi quidem voluptatibus, molestiae, tempore similique dolorem earum atque. 
                                Possimus rem accusantium 
                                Lorem ipsum dolor sit amet consectetur 
                                adipisicing elit. Maxime nemo repellendus
                                aut praesentium consectetur molestias 
                                provident asperiores eum autem nobis 
                                voluptatum debitis ut tempore dicta,
                                cumque eveniet fugit repellat eaque.
                            </p>
                            <button class="btn-cllsn">PARTICIPATE</button>
                        </div>
                    </div>
                    <div class="grid-item ">
                        <div class="caroussel-small">
                            <div class="img-small-card-left ">
                                <img id ="test" src="https://images.unsplash.com/photo-1576995853123-5a10305d93c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" >
                            </div>
                            <div class="img-big-card ">
                                <img src="https://images.unsplash.com/photo-1475178626620-a4d074967452?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1372&q=80" alt=""width="50" height="60">
                            </div>
                            <div class="img-small-card-right ">
                                <img src="https://images.unsplash.com/photo-1629836760580-8b45ddeae72f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt=""width="50" height="60">
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
    </div>