<div>
    <div class="challenger">
        <h2><span class="big-text">CHALLENGE</span><br>
        <span class="mid-text">BRIEF</span>
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Vero quia quod accusamus
              tenetur exercitationem eius facere provident
               veritatis aut dolorum molestiae impedit 
               inventore error
             harum deserunt, pariatur, est debitis nisi.
             Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Vero quia quod accusamus
              tenetur exercitationem eius facere provident
               veritatis aut dolorum molestiae impedit 
               inventore error
             harum deserunt, pariatur, est debitis nisi.
             Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Vero quia quod accusamus
              tenetur exercitationem eius facere provident
               veritatis aut dolorum molestiae impedit 
               inventore error
             harum deserunt, pariatur, est debitis nisi.
        </p>
    </div>
       <div class="container-centred">
            <div class="line"></div>
            <p class="mid-text">STEPS BELOW</p>
            <div class="arrow">
                <div class="arr green"></div>
            </div> 
       </div>
        
    </div>

    <!--New component-->
    <div>
        <div class="bg-img-big">
            <div class="container-hero">
                <h2 class="small-text">How to participate</h2>
      
                <div class="card-container ">
                
                    <div class="small-card">
                        <p class="title-card">
                            STEP '1'
                        </p>
                        <p class="text-card">
                            Download the sketch
                        </p>
                        <button class="btn-cllsn">
                            Download
                        </button>
                    </div>
                    <div class="small-card">
                        <p class="title-card">
                            STEP '1'
                        </p>
                        <p class="text-card">
                            Download the sketch
                        </p>
                        <button class="btn-cllsn">
                            Download
                        </button>
                    </div>
                    <div class="small-card">
                        <p class="title-card">
                            STEP '1'
                        </p>
                        <p class="text-card">
                            Download the sketch
                        </p>
                        <button class="btn-cllsn">
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>